/****************************
* Structure File
****************************/
/*
	Anything that pertains to general positioning goes into this file.
*/

//Special case body property
	body{
		background-color: $color-dark-grey; 
	}

//Structure components
	.strt-center{
		width: 70%; 
		margin: 0 auto; 
		padding: 0 30px; 
	}

/**************
* Resets
**************/
//Button Resets
	button, 
	input[type="button"], 
	input[type="reset"], 
	input[type="submit"],
	button:hover, 
	input[type="button"]:hover, 
	input[type="reset"]:hover, 
	input[type="submit"]:hover{
	    //background: none;
	    box-shadow: none; 
	    text-shadow: none; 
	    border: 0;
	    //color: inherit;
	    /* cursor: default; */
	    font: inherit;
	    line-height: normal;
	    overflow: visible;
	    //padding: 0;
	    -webkit-appearance: button; /* for input */
	    -webkit-user-select: none; /* for button */
	       -moz-user-select: none;
	        -ms-user-select: none;		
	}

/****************
* Structure Rules
****************/
//Page wrapper structure
	#page{
		

		//@extend .strt-center;
		@extend .obj-master; 
	}

//Content area structure
	#content{
		@extend .strt-center;
	}

	.content-row:after{
		@extend .clearfix;
	}

	#primary, #secondary{
		float: left;
		padding: 30px; 
		width: 50%;  

		background-color: white; 
	}
	#primary.content-full{
		float:none;
		width: 100%; 
	}
	#primary h1:first-child, h2:first-child{
		margin-top: 0; 
	}

	#secondary{
		@extend .obj-sidebar;

		aside:first-child h1{
			margin-top: 0; 
		}
	}

//Header
	#masthead{
		margin-bottom: 40px; 

		@extend .obj-header; 
	}

//Navigation
	#site-navigation{
		display: inline-block; 
		margin: 0 auto; 
		width: auto; 
		float: none; 

		li{
			padding: 10px; 
		}

		@extend .obj-navigation;
	}

//Footer
	#colophon{
		.sidebar-footer:after{
			@extend .clearfix; 
		}
		aside{
			width: 33%; 
			float: left; 
			padding: 10px; 
		}

		@extend .obj-footer; 
	}

//Buttons
	button, 
	input[type="button"], 
	input[type="reset"], 
	input[type="submit"] {
		@extend .obj-button;
	}

//Images
	img{
		@extend .obj-image;
	}