/************************
* Site Colors
************************/
	$color-primary: #666;
	$color-secondary: #444; 
	$color-outlier: #69838C;
	$color-light-grey: #ddd; 
	$color-dark-grey: #242424; 

	$universal-line: 1px solid $color-primary; 
